.button__rounded {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.36;
    padding: 14px 24px;
    text-transform: uppercase;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.button-blue {
    background-color: $blue1;
    border: 2px solid $blue1;
    color: #fff;
    &:hover {
        color: $blue1;
        background-color: #fff;
    }
    &:visited {
        color: #fff;
    }
    &:visited:hover {
        color: $blue1;
    }
}

.navigation__button {
    box-sizing: border-box;
    font-weight: bold;
    display: block;
    height: 72px;
    line-height: 68px;
    padding-left: 16px;
    padding-right: 16px;
    text-transform: uppercase;
}

.svg__button {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    width: 32px;
    height: 32px;
    line-height: 32px;
    svg {
        display: block;
        margin: 0 auto;
        fill: #ffffff;
        &:hover,
        &:focus,
        &:active {
            fill: $blue1;
            cursor: pointer;
        }
    }
}

.prev__link {
    position: relative;
    padding: 0;
    font-weight: 700;
    margin-left: 23px;
    &::before {
        content: " ";
        display: block;
        background-image: url(../../img/arrow_left.svg);
        background-repeat: no-repeat;
        width: 14px;
        height: 7px;
        position: absolute;
        left: -23px;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }
}

.page__navigation {
    color: $blue1;
    margin-bottom: 40px;
}

.social__button {
    display: block;
    padding: 10px 16px;
    border: 1px solid $blue1;
    box-sizing: border-box;
    border-radius: 6px;
    width: 52px;
    height: 40px;
    svg {
        width: 17px;
        height: 17px;
    }
}

.post__share {
    margin-bottom: 8px;
}