/* Position */

html {
    font-size: 14px;
}

::-webkit-scrollbar {
    width: 2px;
}

.left-block {
    float: left;
}

.right-block {
    float: right;
}

.align-center {
    text-align: center;
}

.overflow-hidden {
    overflow: hidden;
}

.heading__block {
    padding: 0 0 40px 0;
}

.bg-gray-6 {
    background-color: $gray6;
}

.section {
    padding: 64px 0 64px 0;
}

a {
    &:visited {
        color: $blue1;
    }
}

.copyrights {
    &:before {
        content: "\00a9";
        color: #fff;
    }
}

.clearfix::after {
    content: '';
    clear: both;
    display: block;
}

.page-input {
    box-sizing: border-box;
    border: 1px solid $gray4;
    color: $gray4;
    width: 278px;
    height: 56px;
    padding: 13px 20px 13px 20px;
    border-radius: 6px;
    &:focus {
        outline: none !important;
        border-color: $blue1;
        color: $gray1;
    }
}

.page__search {
    line-height: 68px;
}

.label__wrapper {
    margin-bottom: 40px;
}

.page__label {
    padding: 6px 12px;
    border: 1px solid $gray4;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    color: $gray2;
    display: inline-block;
}

.social__list {
    display: inline-block;
    .social__item {
        float: left;
        margin-right: 16px;
    }
}

.post__text {
    margin-bottom: 40px;
    word-break: break-word;
}

.left-image {
    float: left;
    margin-right: 40px;
}

.right-image {
    float: right;
    margin-left: 40px;
}

.post__blockquote {
    text-align: center;
    max-width: 760px;
    margin: 100px auto 70px auto;
    position: relative;
    &:before {
        background-image: url(../../img/blockquote.svg);
        background-repeat: no-repeat;
        content: '';
        display: block;
        position: absolute;
        width: 70px;
        height: 60px;
        opacity: .4;
        z-index: -1;
        top: -30px;
        left: -30px;
    }
}

.partners__item {
    display: block;
    text-align: center;
}

.post__image__block {
    margin-bottom: 20px;
    text-align: center;
}