html,
body {
    font-size: 14px;
}

a {
    line-height: 1.35;
    font-size: 1em;
    font-family: $osans;
    font-weight: 400;
}

b {
    color: #000;
}

.text-blue {
    color: $blue1;
}

.banner__title {
    font-family: $rubik;
    font-weight: 800;
    font-size: 4em;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.main-title {
    color: #000;
    font-family: $rubik;
    font-weight: bold;
    font-style: normal;
    font-size: 2.85em;
    line-height: 1.7;
    text-transform: uppercase;
    text-align: center;
}

.post-title {
    font-family: $rubik;
    font-weight: 400;
    font-size: 1.4em;
    line-height: 1.4;
    color: $gray1;
}

.footer__heading {
    @extend .post-title;
    color: #fff;
}

.small-text {
    font-weight: 400;
    font-size: 1em;
    line-height: 1.17;
    color: rgba($color: #000000, $alpha: .56)
}

.footer__bottom__text {
    @extend .small-text;
}

.post__text {
    font-family: $osans;
    font-style: normal;
    font-weight: normal;
    font-size: 1.14em;
    line-height: 160%;
}

.page__label {
    @extend .post__text;
}

.post__blockquote {
    @extend .post-title;
}